<!DOCTYPE html>
<html>
  <head>
      <title>Twilio Click to Call for ngrok and Flask</title>
      <!-- We use Twitter Bootstrap as the default styling for our page-->
      <link rel="stylesheet" 
          href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" 
          href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> 
        <!-- Include CSS for our third-party telephone input jQuery plugin-->
      <link rel="stylesheet" href="/static/styles/intlTelInput.css">
  </head>
  <body>
    <div class="container">
        <h1>Click To Call</h1>
        <p>
            Click To Call converts your website's users into engaged customers by 
            creating an easy way for your customers to contact your sales and 
            support teams right on your website.
        </p>
        <p>Here's an example of how it's done!</p>
        <hr>

        <!-- C2C contact form-->
        <div class="row">
            <div class="col-md-12">
                <form id="contactForm" role="form">
                    <div class="form-group">
                        <h3>Call LEGO Consumer Services for free!</h3>
                        <p class="help-block">
                            Are you looking for help with your latest creation?
                            Or simply want to order some more fun products? Just enter your phone number 
                            below, and you'll be connected to our fantastic team right away.
                        </p>
                    </div>
                    <div class="form-group">
                        <input type="text" id="phoneNumber" 
                            placeholder="(123) 555-9999" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-default">
                        Contact LEGO (QA)
                    </button>
                </form>
            </div>
        </div>
    </div>
    <!-- Include page dependencies -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/static/js/intlTelInput.min.js"></script>
    <script src="/static/js/app.js"></script>
  </body>
</html>
